* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  gap: 15px;
  grid-auto-rows: minmax(70px, auto);
}

.wrapper > div {
  background: #cccccc;
  padding: 15px;
}

.wrapper > div:nth-child(odd) {
  background: #aaa;
}
